.boton{
    font-family: cursive;
    color: cadetblue;
   
}

.botonRemove{
    font-family: cursive;
    font-size: medium;
    color: chocolate;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:blue;
    font-style: normal;
    text-align: center;
    
}

.itemTarea{
    font-family: serif;
    font-size: larger;
    color: blue;
}